api/infra/wsdl/21g/ValidateSessionID21GCasino.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PostTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="systemID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clerkID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bettingAdjustmentFlagYN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dailyFigureDate_YYYYMMDD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="enteredBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostTransactionResult" type="tns:TransactionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransactionResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DocumentNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RespMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AvailableBalance" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TransactionResult" nillable="true" type="tns:TransactionResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:PostTransaction" />
  </wsdl:message>
  <wsdl:message name="PostTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:PostTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="PostTransactionHttpGetIn">
    <wsdl:part name="systemID" type="s:string" />
    <wsdl:part name="systemPassword" type="s:string" />
    <wsdl:part name="clerkID" type="s:string" />
    <wsdl:part name="customerID" type="s:string" />
    <wsdl:part name="amount" type="s:string" />
    <wsdl:part name="tranCode" type="s:string" />
    <wsdl:part name="tranType" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="bettingAdjustmentFlagYN" type="s:string" />
    <wsdl:part name="dailyFigureDate_YYYYMMDD" type="s:string" />
    <wsdl:part name="enteredBy" type="s:string" />
    <wsdl:part name="paymentBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PostTransactionHttpGetOut">
    <wsdl:part name="Body" element="tns:TransactionResult" />
  </wsdl:message>
  <wsdl:message name="PostTransactionHttpPostIn">
    <wsdl:part name="systemID" type="s:string" />
    <wsdl:part name="systemPassword" type="s:string" />
    <wsdl:part name="clerkID" type="s:string" />
    <wsdl:part name="customerID" type="s:string" />
    <wsdl:part name="amount" type="s:string" />
    <wsdl:part name="tranCode" type="s:string" />
    <wsdl:part name="tranType" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="bettingAdjustmentFlagYN" type="s:string" />
    <wsdl:part name="dailyFigureDate_YYYYMMDD" type="s:string" />
    <wsdl:part name="enteredBy" type="s:string" />
    <wsdl:part name="paymentBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PostTransactionHttpPostOut">
    <wsdl:part name="Body" element="tns:TransactionResult" />
  </wsdl:message>
  <wsdl:portType name="SvcPostTransactionSoap">
    <wsdl:operation name="PostTransaction">
      <wsdl:input message="tns:PostTransactionSoapIn" />
      <wsdl:output message="tns:PostTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SvcPostTransactionHttpGet">
    <wsdl:operation name="PostTransaction">
      <wsdl:input message="tns:PostTransactionHttpGetIn" />
      <wsdl:output message="tns:PostTransactionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SvcPostTransactionHttpPost">
    <wsdl:operation name="PostTransaction">
      <wsdl:input message="tns:PostTransactionHttpPostIn" />
      <wsdl:output message="tns:PostTransactionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SvcPostTransactionSoap" type="tns:SvcPostTransactionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostTransaction">
      <soap:operation soapAction="http://tempuri.org/PostTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SvcPostTransactionSoap12" type="tns:SvcPostTransactionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostTransaction">
      <soap12:operation soapAction="http://tempuri.org/PostTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SvcPostTransactionHttpGet" type="tns:SvcPostTransactionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="PostTransaction">
      <http:operation location="/PostTransaction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SvcPostTransactionHttpPost" type="tns:SvcPostTransactionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PostTransaction">
      <http:operation location="/PostTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SvcPostTransaction">
    <wsdl:port name="SvcPostTransactionSoap" binding="tns:SvcPostTransactionSoap">
      <soap:address location="http://api.betanything.eu/integrations/21GCasino/ValidateSessionID21GCasino.asmx" />
    </wsdl:port>
    <wsdl:port name="SvcPostTransactionSoap12" binding="tns:SvcPostTransactionSoap12">
      <soap12:address location="http://api.betanything.eu/integrations/21GCasino/ValidateSessionID21GCasino.asmx" />
    </wsdl:port>
    <wsdl:port name="SvcPostTransactionHttpGet" binding="tns:SvcPostTransactionHttpGet">
      <http:address location="http://api.betanything.eu/integrations/21GCasino/ValidateSessionID21GCasino.asmx" />
    </wsdl:port>
    <wsdl:port name="SvcPostTransactionHttpPost" binding="tns:SvcPostTransactionHttpPost">
      <http:address location="http://api.betanything.eu/integrations/21GCasino/ValidateSessionID21GCasino.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>